<div>
  <div class="form-group row pb-4">
    <div class="col-md-2">
      <label for="level">Level</label>
      <input class="form-control" id="level" type="text">
    </div>
    <div class="col-md-2">
      <label for="post">No. of Post Sanctioned</label>
      <input class="form-control" id="post" type="text">
    </div>
    <div class="col-md-2">
      <label for="position">Staff Position</label>
      <input class="form-control" id="position" type="text">
    </div>
    <div class="col-md-2">
      <label for="days">Days</label>
      <input class="form-control" id="days" type="text">
    </div>
    <div class="col-md-2">
      <label for="matrix">Pay in Pay Martix</label>
      <input class="form-control" id="matrix" type="text">
    </div>
    <div class="col-md-2">
      <label for="da">D.A. 17%</label>
      <input class="form-control" id="da" type="text">
    </div>
  </div>

  <div class="form-group row pb-4">
    <div class="col-md-2">
      <label for="spc-allow">Special Allow. 10%</label>
      <input class="form-control" id="spc-allow" type="text">
    </div>
    <div class="col-md-2">
      <label for="hra">HRA</label>
      <input class="form-control" id="hra" type="text">
    </div>
    <div class="col-md-2">
      <label for="ta">Travel Allowance</label>
      <input class="form-control" id="ta" type="text">
    </div>
    <div class="col-md-2">
      <label for="da-tr">D.A on T.R. Allow. @17%</label>
      <input class="form-control" id="da-tr" type="text">
    </div>
    <div class="col-md-2">
      <label for="hm">H.M Alowance</label>
      <input class="form-control" id="hm" type="text">
    </div>
    <div class="col-md-2">
      <label for="cha">CHA</label>
      <input class="form-control" id="cha" type="text">
    </div>
  </div>

  <div class="form-group row pb-4">
    <div class="col-md-4">
      <label for="nps-ms-10">NPS(M/S) 10%</label>
      <input class="form-control" id="nps-ms-10" type="text">
    </div>
    <div class="col-md-4">
      <label for="other">Other </label>
      <input class="form-control" id="other" type="text">
    </div>
    <div class="col-md-4">
      <label for="gt" style="font-weight: bold;">Gross Total</label>
      <input class="form-control" id="gt" type="text">
    </div>
  </div>
</div>
