@import "../../variable.scss";

#sidebar {
  background-image: -webkit-linear-gradient($sidebar-bgcolor, $navbar-bgcolor);
  height: 100%;
  .main-title {
    font-size: 42px;
    color: #f7b733;
  }
  .links {
    text-decoration: auto;
    color: white;
    font-size: 20px;
  }
  .links:hover {
    color: $icon-hover;
  }
  .icon {
    font-size: 30px;
    color: white;
  }
  .icon:hover {
    cursor: pointer;
    color: $icon-hover;
  }
  .logo {
    width: 50px;
  }
}
