<div class="p-3">
  <div class="heading">About</div>

  <hr class="mt-0">

  <div class="bold mb-3">This application helps to maintain the pay bills. All the rights remains with the creator
    Pranay Kohad</div>

  <div class="bold d-flex flex-column">
    <div class="d-flex flex-row">
      <div class="col-md-3">Technology:
      </div>
      <div>Angular 11 and Spring boot</div>
    </div>
    <div class="d-flex flex-row">
      <div class="col-md-3">DataBase:
      </div>
      <div>MySql</div>
    </div>
    <div class="d-flex flex-row">
      <div class="col-md-3">Creator and Developer: </div>
      <div>Pranay Kohad</div>
    </div>
  </div>

</div>
