@import "../../variable.scss";
#navbar {
  background-image: linear-gradient(
    to right,
    $sidebar-bgcolor,
    $navbar-bgcolor
  );
  .openbtn {
    cursor: pointer;
    border: none;
  }
  .icon {
    font-size: 30px;
    color: white;
  }
  .title {
    font-size: 25px;
  }
}
