<div id="create-pay-bill" class="p-3">

  <div class="heading">Add/Update Pay Bill</div>

  <hr class="mt-0 mb-2">

  <div class="form-group d-flex mb-2 align-items-baseline">
    <div class="col-md-3">
      <app-searchable-dropdown [empList]="empList" (onOptionChange)="onOptionChangeHandler($event)">
      </app-searchable-dropdown>
    </div>
    <div class="col-md-9 form-group d-flex align-items-center">
      <div class="d-flex align-items-center col-md-4">
        <label for="dp">Select date</label>
        <app-date-picker id="dp"
          [disabled]="!ledgerMgr.ledger.employee || (ledgerMgr.ledger.employee && !ledgerMgr.ledger.employee.empId)"
          (dateEmitter)="dateEmitHandler($event)">
        </app-date-picker>
      </div>
      <div class="d-flex align-items-center col-md-5">
        <label class="col-md-5" for="days">Days of Month</label>
        <span id="days">{{ledgerMgr.ledger.noOfDays}}</span>
      </div>
    </div>
  </div>

  <table class="table table-hover table-bordered mb-3">
    <thead>
      <tr class="text-center">
        <th id="emp-name">Employee Name</th>
        <th id="emp-staff-code">Staff Code</th>
        <th id="emp-des">Designation</th>
        <th id="emp-level">Level</th>
        <th id="emp-nps">Number of Post Sanctioned</th>
        <th id="emp-sp">Staff in Position</th>
        <th id="emp-ps">Pention Scheme</th>
        <th id="emp-empt">Employee Type</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center" *ngIf="ledgerMgr.ledger.employee">
        <td>{{ledgerMgr.ledger.employee.prefix}} {{ledgerMgr.ledger.employee.shortName}}</td>
        <td>{{ledgerMgr.ledger.employee.staffCode}}</td>
        <td>{{ledgerMgr.ledger.employee.designation}}</td>
        <td>{{ledgerMgr.ledger.employee.level}}</td>
        <td>{{ledgerMgr.ledger.employee.noOfPostSanctioned}}</td>
        <td>{{ledgerMgr.ledger.employee.staffInPosition}}</td>
        <td>{{ledgerMgr.ledger.employee.pentionScheme}}</td>
        <td>{{ledgerMgr.ledger.employee.empType}}</td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="ledgerMgr.ledger.noOfDays; else noPayBill">
    <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Allowances</a>
        <ng-template ngbNavContent>
          <app-allowance></app-allowance>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>Deductions</a>
        <ng-template ngbNavContent>
          <app-deduction></app-deduction>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink>Preview</a>
        <ng-template ngbNavContent>
          <app-preview></app-preview>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2 p-2 pt-0 tab-content"></div>

  </div>
  <ng-template #noPayBill>
    <div class="d-flex justify-content-center mb-2 font-size-20">
      Please select Employee and date
    </div>
  </ng-template>

</div>
