<div>
  <div class="form-group row pb-4">
    <div class="col-md-2">
      <label for="cpf-sub">CPF Sub.</label>
      <input class="form-control" id="cpf-sub" type="text">
    </div>
    <div class="col-md-2">
      <label for="nps-arr">CPF Arrears</label>
      <input class="form-control" id="nps-arr" type="text">
    </div>
    <div class="col-md-2">
      <label for="nps-adv">CPF Advances</label>
      <input class="form-control" id="nps-adv" type="text">
    </div>
    <div class="col-md-2">
      <label for="inst">Number of Inst</label>
      <input class="form-control" id="inst" type="text">
    </div>
    <div class="col-md-2">
      <label for="npm-ms">NPM(M/S)</label>
      <input class="form-control" id="npm-ms" type="text">
    </div>
    <div class="col-md-2">
      <label for="npm-os">NPM(O/S)</label>
      <input class="form-control" id="npm-os" type="text">
    </div>
  </div>

  <div class="form-group row pb-4">
    <div class="col-md-2">
      <label for="npm-ms-arr">NPM(M/S) Arrears</label>
      <input class="form-control" id="npm-ms-arr" type="text">
    </div>
    <div class="col-md-2">
      <label for="npm-os-arr">NPM(O/S) Arrears</label>
      <input class="form-control" id="npm-os-arr" type="text">
    </div>
    <div class="col-md-2">
      <label for="i-tax" style="font-weight: bold;">Income Tax</label>
      <input class="form-control" id="i-tax" type="text">
    </div>
    <div class="col-md-2">
      <label for="pt">Professional Tax</label>
      <input class="form-control" id="pt" type="text">
    </div>
    <div class="col-md-2">
      <label for="we-charges">W and E Charges</label>
      <input class="form-control" id="we-charges" type="text">
    </div>
  </div>

  <div class="form-group row pb-4">
    <div class="col-md-4">
      <label for="other-bal">Other balance Income Tax (2020-21)</label>
      <input class="form-control" id="other-bal" type="text">
    </div>
    <div class="col-md-2">
      <label for="od">Other Deduction</label>
      <input class="form-control" id="od" type="text">
    </div>
    <div class="col-md-2">
      <label for="td">Total Deduction</label>
      <input class="form-control" id="td" type="text">
    </div>
  </div>
</div>
